* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@font-face {
  font-family: Dollie;
  src: url(../../fonts/dolliescript.ttf);
}

@font-face {
  font-family: Dollie;
  src: url(../../fonts/dolliescript.ttf);
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
.clearfix, .container, section {
  overflow: hidden;
  *zoom: 1;
}

.pie-clearfix {
  *zoom: 1;
}
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}

body {
  color: #6f6e6e;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 20px;
  line-height: 2.2;
}

a {
  color: #6f6e6e;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover, a:focus, a:active {
  color: #222222;
}

@font-face {
  font-family: Dollie;
  src: url(../../fonts/dolliescript.ttf);
}

@font-face {
  font-family: Dollie;
  src: url(../../fonts/dolliescript.ttf);
}

h1 {
  font-size: 2.25em;
  line-height: 1.1111111em;
  margin: 0 0 0.6666667em 0;
}

h2 {
  font-size: 1.875em;
  line-height: 1.3333333em;
  margin: 1.0666667em 0 0.5333333em 0;
}

h3 {
  font-size: 1.375em;
  line-height: 1.4545455em;
  margin: 1.4545455em 0 0.7272727em 0;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

h5 {
  font-size: 1.125em;
  line-height: 1.3333333em;
  margin: 0 0 0.4444444em 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

p, pre, label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

ol, ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

li {
  line-height: auto;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

strong, b {
  font-weight: 600;
}

em, i, q {
  font-style: italic;
}

blockquote {
  padding-left: 1em;
  border-left: 0.3125em solid grey;
  line-height: normal;
  margin: 0;
}
blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

@font-face {
  font-family: Dollie;
  src: url(../../fonts/dolliescript.ttf);
}

label, select {
  display: block;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
.container {
  width: 95%;
}

.navigation {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.navigation ul {
  list-style: none;
}
.navigation ul li {
  display: inline-block;
  margin: 0 4px 0 4px;
}

#header {
  background-color: #e7d29c;
}

#work {
  background-color: #e3e3e3;
}

#contact {
  background-color: #f5716b;
  text-align: center;
}

#header, #work, #contact {
  position: relative;
}

div.icon {
  display: block;
  text-align: center;
}
div.icon #arrow {
  opacity: 0.5;
  position: absolute;
  bottom: 20px;
  margin-left: -15px;
  font-size: 2.2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#arrow:hover {
  opacity: 1;
}

.social {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social:hover {
  opacity: 1;
}

#twitter {
  color: #4099FF;
}

#youtube {
  color: #df2d28;
}

#gplus {
  color: #dd403a;
}

div.herocont {
  position: absolute;
  top: 13%;
  text-align: center;
  width: 100%;
}
div.herocont span.glasses {
  display: block;
  background: url("../../img/glasses.svg");
  background-size: 330px 150px;
  width: 330px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div.herocont h1 {
  display: inline-block;
  font-family: 'Dollie', Fallback, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  margin-bottom: 0;
  border-bottom: 3px solid #f5716b;
  width: 85%;
  max-width: 290px;
}
div.herocont p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.2);
  padding: 35px 35px 50px 35px;
  width: 90%;
  max-width: 600px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #757575;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #e7d29c;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name {
  background-image: url(../../img/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(../../img/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#message {
  background-image: url(../../img/message.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

#button {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #e7d29c;
  color: #757575;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
}

#button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #B89F5E;
}

.submit:hover {
  color: #3498db;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
h1 {
  font-weight: 600;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (max-width: 750px) {
  .hide-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 48em) {
  div.herocont span.glasses {
    background-size: 410px 170px;
    width: 410px;
    height: 180px;
  }
}
@media screen and (min-width: 50em) {
  div.herocont {
    top: 25%;
  }
  div.herocont p {
    width: 60%;
  }
  div.herocont h1 {
    font-size: 110px;
    line-height: 110px;
    max-width: 540px;
  }
  div.herocont span.glasses {
    background-size: 450px 190px;
    width: 450px;
    height: 190px;
  }
  div.herocont span.glasses:hover {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}
@media print {
  body {
    font-size: 62.5%;
    line-height: 1em;
  }
}
@media screen and (max-width: 769px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
/* ::State styles */
/* ------------------------------------------------------------ */
.is-hidden {
  display: none;
}

.is-shown, .is-block {
  display: block;
}

.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
